.user {
    position: relative;
}

.user h2 {
    font-weight: 700;
    padding-bottom: 30px;
}

.user table th,
.user table td {
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}